.saved-movies__not-found {
  display: block;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 30px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .saved-movies {
    box-sizing: border-box;
    padding: 0 0 169px;
  }
}
